*{
    margin: 0;
    padding: 0;
    background-color:white;
}
h1{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.calculadora{
    
    border: solid 5px black;
    width: 300px;
    height: 500px;
    
    border-radius: 10px;
    justify-content: space-around;
}
button:hover{
    background-color: blue;
}
button{
   width: 70px;
    height: 70px;
    margin: 5px;
}
.caixa-texto input{
    width: 260px;
    height: 40px;
}