*{
    margin: 0;
    padding:0;
}
H1{
    text-align: center;
    margin: 30px;
    margin-bottom: solid 3px black;
}
/*FLEXBOX*/
img{
    max-width: 50%;
    display: block;
    border: solid 1px black; 
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 auto;
    
}
.flexbox > div{
    flex: 1 1 200px;
    gap: 10px;
}
/*GRID1*/
img{
    width: 30%;
    margin: solid 2px black;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90vw;
    margin: 0 auto;
    grid-gap: 20px;
    
}
body{
    margin-bottom: 300px;
}
.grid1>div:nth-child(n+4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid1> div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    display: block;
}
@media (max-width:600px){
    .grid1{
        grid-template-columns: 1fr 1fr;
    }
    .grid1>div:nth-child(n+4){
        display: block;
    }
    .grid1>div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }

}
