*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-galeria-professores{
    /*background-image: url(../img/fundo.jpg);
    */background-repeat: no-repeat;
    background-size: 100%;
    
   
}
.container-galeria-professores h1{
    /*font-size: 3rem;*/
    text-align: center;
    text-shadow: 2px 2px 1px rgb(187, 186, 186);

}
.container-galeria-professores p{
    font-size: 1.5rem;
    text-decoration: double; 
    text-align: center;
    text-shadow: 2px 2px 1px rgb(187, 186, 186);
    text-align: justify;
    margin-left: 30px;
    margin-bottom: 50px;
}

.cabecalho{
    height: 150px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 10px;
    margin-bottom: 30px;
}
.galeria-professores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    padding: 0 2vw;
    
}
.galeria-professores a{
    width: 300px;
    height: 320px;
    border: 5px solid rgb(99, 98, 98);
    box-shadow: 5px 5px 5px #000;
    flex-grow: 1;/*o item estica lateralmente para se adaptar ao espaço*/
    transition: transform .2s linear;
    /*background:url(../img/fundo.jpg);*/
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: auto;
    
}
.item-galeria img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.item-galeria:hover{
    transform: scale(1.2);
}
.legenda-professor{
    display: flex;
    align-items: center;
    border: 5px solid rgb(99, 98, 98);
    box-shadow: 5px 5px 5px #000;
    flex-grow: 1;/*o item estica lateralmente para se adaptar ao espaço*/
}
@media(max-width:900px) {
    .cabecalho h1, p{
        color: red;
        font-size: 30%;
    }
    
}