*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: #7159c1;
}
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas: "h h" "m a" "f f";
    
}
.header{
    background-color: yellow;
    grid-area: h;

}
.main{
    background-color: blue;
    grid-area: m;
}
.asside{
    background-color: green;
    grid-area: a;
}
.footer{
    background-color: red;
    grid-area: f;
}


