*{
    margin: 0;
    padding:0;
}
body{
    display: block;
}
.main-bg{
    background-image: url(../img/slide.jpg);
}
.carrossel{
    background-image: url(../img/PM-PB.jpg);
    display: block;
}

.menu{
    
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1px solid;
   
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.main-content{
    margin-top: 0px;
}

.menu ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imglogo{
    width: 130px;
    margin-left: 10px;
    padding:0;
   
}
.menu li a::after{
    content: '';
    position: absolute;

}