*{
    margin: 0;
    padding: 0;
}
a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: capitalize;/*uppercase, lowercase*/
    letter-spacing: 3px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #23232e;
    height: 12vh;/*ajusta a tela*/
}
main{
    background:url(../img/expressocurso.png)no-repeat center center;
    background-size: cover;/*se ajusta ao tamnho do monitor*/
    height: 88vh;
}
.nav-list {
    list-style: none;/*tira as bolinhas da lista*/
    display: flex;/*deixa os elementos um ao lado do outro*/
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.menu-hamburger div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.menu-hamburger{
    display: none;
    cursor: pointer;
}
@media(max-width:999px){
    body{
        overflow-x: hidden;/*se alguma coisa transbordar dos 100% da tela fica escondido
        usado para não mostar a barra lateral que o 
        transform: tranlatex(100%) jogou para lateral*/
    }
    .nav-list{
        position:absolute;
        top:12vh;
        right: 0;
        width: 50vw;
        height: 88vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translatex(100%);/*joga a barra lateral para fora da tela*/
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .menu-hamburger{
        display: block;
    }
    .nav-list.active{/*.active é uma classe criada no JS*/
        transform: translateX(0);
    }
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }to{
            opacity: 1;
            transform: translateX(0);
        }
    }
}